header {
    background-color: #06266F;
    border: 2px solid black;

}

h1 {
    color: white;
    padding-left: 30px;
}

footer {
    background-color: #06266F;
    border: 2px solid black;
}

.social {
    text-align: center;
}

.socialBtn {
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px
}

body {
    width: 1300px;
    margin: auto;
}