@inherits LayoutComponentBase

<PageTitle>FilmApi</PageTitle>
<body>
    <header>
        <h1>FilmTest</h1>
    </header>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>

    <footer>
        <div class="social">
            <a href="#"><img src="/img/socF.png" class="socialBtn"></a>
            <a href="#"><img src="/img/socVK.png" class="socialBtn"></a>
            <a href="#"><img src="/img/socTG.png" class="socialBtn"></a>
        </div>
    </footer>
</body>