@using Newtonsoft.Json.Linq;
@inject NavigationManager NavigationManager
@using FilmApi.Data
@page "/"


<PageTitle>Index</PageTitle>

<FilmPage InfoList="InfoList" Info="FilmPage.filmItem"/>

<div class="linkDiv">
    <a href="##" class="filmLink" @onclick="Prev"><h2>PREV</h2></a>
    <a href="##" class="filmLink" @onclick="Next"><h2>NEXT</h2></a>
</div>

@code {

    Data.FilmPage FilmPage = new Data.FilmPage();
    List<Data.FilmPage.FilmItem> InfoList = new List<Data.FilmPage.FilmItem>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        FilmPage.Film(InfoList);
    }

    protected void Next()
    {  
        FilmPage.filmItem.page++;
        InfoList.Clear();
        FilmPage.Film(InfoList);
        StateHasChanged();
    }

    protected void Prev()
    {
        if (FilmPage.filmItem.page > 1)
        {
            FilmPage.filmItem.page--;
            InfoList.Clear();
            FilmPage.Film(InfoList);
            StateHasChanged();
        }
    }
    
}

